html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: Monospace;
    font-size: 2.5vw;
    //scroll-behavior: smooth;
}
body {
    background: rgb(220, 233, 236);
}
.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.slide {
    margin: 0;
    padding: 1vw;
    height: 90%;
    width: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide-header {
    margin: 0;
    padding: 0;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.intro {
    margin: 0;
    padding: 0;
    background: lightsalmon !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.intro div {
    margin: 0;
    padding: 0;
    text-align: center;
}
.intro div:nth-child(2n) {
    font-size: 0.5em;
}
.main-content {
    border: 1px solid black;
    height: 80%;
    width: 95%;
    padding: 2vw;
}